.markdown-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .markdown-table table {
    width: 100%;
    border: 1px solid #ddd;
  }
  
  .markdown-table th,
  .markdown-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .markdown-table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .markdown-table td {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #fff; /* Set the background color to white */
  }